---
title : 'Cyber Physical Systems & Control Lab.'
layout: splash
date: 2021-08-12T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/단체사진2.jpg
  # actions:
    # - label: "Learn More"
    #  url: "/terms/"
  caption: "삼성 창조 캠퍼스"
excerpt: "<br><br><br><br><br><br><br><br><br>"
intro: 
  - excerpt: "<span style='font-size: 35px'><b>CPSC Labs의 실험환경과 연구소개"
feature_row:
  - image_path: /assets/images/ETRI2021.gif
    image_caption: "2021"
    title: "<span style='font-size: 35px'>클리닝 태스크</style>"
    excerpt: "<span style='font-size: 20px'>로봇 매니퓰레이터 앤드이펙터의 접촉력을 추정하고 추정된 접촉력을 활용한 클리닝 태스크"
  - image_path: /assets/images/ETRI2020.gif
    image_caption: "2020"
    title: "<span style='font-size: 30px'>분류작업 태스크</style>"
    excerpt: "<span style='font-size: 20px'>모방학습을 이용한 무게에 따른 분류작업 태스크"
  - image_path: /assets/images/ETRI2020-TRI.gif
    image_caption: "2020"
    title: "<span style='font-size: 30px'>드로잉 태스크</style>"
    excerpt: "<span style='font-size: 20px'>모방학습을 이용한 도형 그리기 태스크"
    
feature_row2:
  - image_path: /assets/images/husky/husky-experiment.gif
    image_caption: "2018"
    title: "<span style='font-size: 30px'>Husky 자율주행 태스크</style>"
    excerpt: "<span style='font-size: 20px'>16채널 LiDAR와 Zed Vision camera가 장착된 Husky로봇"
  - image_path: /assets/images/turtlebot/tracking.gif
    image_caption: "2018"
    title: "<span style='font-size: 30px'>Turtlbot2 자율주행 태스크</style>"
    excerpt: "<span style='font-size: 20px'>Nvidia Zetson 보드, 360º LiDAR, Zed Vision camera가 장착된 Turtlebot2 "
  - image_path: /assets/images/turtlebot/racing.gif
    image_caption: "2018"
    title: "<span style='font-size: 30px'>Turtlebot3 자율주행 태스크</style>"
    excerpt: "<span style='font-size: 20px'>360º LiDAR와 라즈베리 카메라가 장착된 Turtlebot3, 2018 Turtlebot-Autorace Mathworks 특별상 수상"
    
feature_row3:
  - image_path: /assets/images/husky/husky-experiment2.gif
    image_caption: "2018"
    title: "<span style='font-size: 30px'>Husky 자율주행 태스크</style>"
    excerpt: "<span style='font-size: 20px'>센서를 이용한 Object Detection과 Path Planning에 의한 Tracking Control"
    
feature_row4:
  - image_path: /assets/images/pendulum/pendulum.gif
    image_caption: "2018"
    title: "<span style='font-size: 30px'>Husky 자율주행 태스크</style>"
    excerpt: "<span style='font-size: 20px'>센서를 이용한 Object Detection과 Path Planning에 의한 Tracking Control"
    
feature_row5 :
  - image_path: /assets/images/quardcopter/quardcopter.gif
    image_caption: "2018"
    title: "<span style='font-size: 30px'>Husky 자율주행 태스크</style>"
    excerpt: "<span style='font-size: 20px'>센서를 이용한 Object Detection과 Path Planning에 의한 Tracking Control"
    
feature_row6 :
  - image_path: /assets/images/ETRI2020.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/SAWYER.gif
    image_caption: "2020"
    title: "<span style='font-size: 30px'>Pick and Place 태스크</style>"
    excerpt: "강화학습을 이용한 Pick and Place 태스크"
  - image_path: /assets/images/IL.gif
    image_caption: "ETRI-2020"
    alt: "placeholder image 2"
    title: "<span style='font-size: 30px'>Placeholder 2</style>"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    
---



{% include feature_row id="intro" type="center" %}
    <span style="font-size: 30px"><span style="color:#3399ff"><b>A.I. with Robot Manipulator</b><br>　</span>  
{% include feature_row %}
      <span style="font-size: 30px"><span style="color:#3399ff"><b>Autonomous Mobile Robot</b><br>　</span>  
{% include feature_row id="feature_row2" %}

{% include feature_row id="feature_row3" type="center"%}
      <span style="font-size: 30px"><span style="color:#3399ff"><b>Control Theory with inverted Pendulum</b><br>　</span>  

{% include feature_row id="feature_row4" type="left" %}
      <span style="font-size: 30px"><span style="color:#3399ff"><b>Control Theory with Quardcopter</b><br>　</span>  
        
{% include feature_row id="feature_row5" type="right" %}
        
{% include feature_row id="feature_row6" type="center" %}


